<body>
    <div class="container">
            <form>
    <div class="form-group">
      <label for="inputAddress">Usuario que realizo la publicación</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="sophia salguero">
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">De que o quien se tratara la publicación</label>
        <select id="inputState" class="form-control">
          <option selected>Curso</option>
          <option>Catedrático</option>
        </select>
      </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Mensaje de la Publicación</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <label for="start">Fecha inicial:</label>
       <input type="date" id="start" name="trip-start"
       value="2022-09-29"
       min="2022-09-29" max="2050-12-31">
</div>
<button type="submit" class="btn btn-success">Publicar</button>
  </form>
</div>
</body>