<body>
    <div class="container">
      <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto bg-light p-5">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Carnet</label>
              <input type="number" class="form-control" [(ngModel)] = "users.carnet" placeholder="Ingrese su Carnet">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" placeholder="Password" [(ngModel)] = "users.password">
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-center links">
                Aun no has creado una cuenta?<a routerLink="/inicio/registro" routerLinkActive="active">Registrate</a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="/inicio/restablecer" routerLinkActive="active">¿Olvidaste tu contraseña?</a>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="saveUser()" routerLink="/inicio/portal" routerLinkActive="active">Iniciar Sesión</button>
          </form>
          </div>
        </div>
    </div>
  </body>